In [1]:
import sys
print(sys.version)

3.11.1 (tags/v3.11.1:a7a450f, Dec  6 2022, 19:58:39) [MSC v.1934 64 bit (AMD64)]

In [2]:
print("Steve")

Steve

In [8]:
name = "Steve"
number = 99999999
print ("My name, {},{}! " .format(name,number))
print("My name is %s and number is %d" %(name,number))

My name, Steve,99999999!
My name is Steve and number is 99999999

In [10]:
name = input("Enter your name: ")
match name:
    case "Steve":
        print("Name is Steve")
    case _:
        print("Invalid name")

Invalid name

In [16]:
statement = False
another_statement = False
if statement is True:
    print("Hai")
    # do something
    pass
elif another_statement is True: # else if
    print("another")
    # do something else
    
else:
    print("else")
    # do another thing

else

In [21]:
x = 4
if x == 2:
    print("x equals two!")
else:
    print("x does not equal to two.")

x does not equal to two.

In [26]:
x = [1,2,3]
y = [1,2,3]
print(x == y) # Prints out True
print(x is y) # Prints out False
print(x is x)

True
False
True

In [30]:
# change this code
number = 20
second_number = 0
first_array = [1,2,3]
second_array = [1,2]

if number > 15:
    print("1")

if first_array:
    print("2")

if len(second_array) == 2:
    print("3")

if len(first_array) + len(second_array) == 5:
    print("4")

if first_array and first_array[0] == 1:
    print("5")

if not second_number:
    print("6")

1
2
3
4
5
6

In [34]:
for i in range(0,10):
    for j in range (0,10):
        print(f"{i+1} * {j+1} = {(i+1)*(j+1)}")
    print("")

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
1 * 10 = 10

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30

4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
6 * 10 = 60

7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70

8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
8 * 10 = 80

9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
9 * 10 = 90

10 * 1 = 10
10 * 2 = 20
10 * 3 = 30
10 * 4 = 40
10 * 5 = 50
10 * 6 = 60
10 * 7 = 70
10 * 8 = 80
10 * 9 = 90
10 * 10 = 100

In [36]:
numbers = [
    951, 402, 984, 651, 360, 69, 408, 319, 601, 485, 980, 507, 725, 547, 544,
    615, 83, 165, 141, 501, 263, 617, 865, 575, 219, 390, 984, 592, 236, 105, 942, 941,
    386, 462, 47, 418, 907, 344, 236, 375, 823, 566, 597, 978, 328, 615, 953, 345,
    399, 162, 758, 219, 918, 237, 412, 566, 826, 248, 866, 950, 626, 949, 687, 217,
    815, 67, 104, 58, 512, 24, 892, 894, 767, 553, 81, 379, 843, 831, 445, 742, 717,
    958, 609, 842, 451, 688, 753, 854, 685, 93, 857, 440, 380, 126, 721, 328, 753, 470,
    743, 527
]

# your code goes here
for number in numbers:
    if(number!=237):
        if(number%2==0):
            print(number)
    else:
        break

402
984
360
408
980
544
390
984
592
236
942
386
462
418
344
236
566
978
328
162
758
918

In [41]:
class MyClass:
    variable = "blah"

    def function(self):
        print("This is a message inside the class.")

myobjectx = MyClass()

print(myobjectx.function())

This is a message inside the class.
None

In [44]:
class MyClass:
    variable = "blah"

    def function(self):
        print("This is a message inside the class.")

myobjectx = MyClass()
myobjecty = MyClass()

myobjecty.variable = "yackity"

# Then print out both values
print(myobjectx.variable)
print(myobjecty.variable)

blah
yackity

In [53]:
class NumberHolder:
   def __init__(self, number):
       self.number = number

   def returnNumber(self):
       return self.number

print(NumberHolder(7).returnNumber()) #Prints '7'

7

In [63]:
class names:
    def __init__(self, a,b):
        self.a = a
        self.b = b
    def names(self):
        print(self.a+self.b)
class Student(names):
    pass
x =Student(5,7)
x.names()

12

In [74]:
name = "noel"
print(name[::-1])
number = 1234321
reversed_num = str(number)
reversed_num = int(reversed_num[::-1])
print(reversed_num)
if(number == reversed_num):
    print("Pallindrome")
else:
    print("Not pallindrome")

leon
1234321
Pallindrome

In [80]:
import math
from index import check 
n = 7
print(math.factorial(n))
print(check(n))

5040
Positive
None

In [82]:
class sample:
    def name(self,name):
        self.name = name
    def __add__(self,other):
        full_name = self.name+" "+other.name
        return full_name

first_name = sample()
second_name = sample()

first_name.name("Steve")
second_name.name("D James")

fullname = first_name+second_name
print(fullname)

Steve D James

In [83]:
list = [1,2,3,4,5,6,7,8,9,10]
print(list)
print(list[::-1])
list.append(15)
print(list)
list.insert(0,0)
print(list)
list.remove(5)
print(list)
list.pop(3)
print(list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 15]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 15]
[0, 1, 2, 3, 4, 6, 7, 8, 9, 10, 15]
[0, 1, 2, 4, 6, 7, 8, 9, 10, 15]

In [3]:
tup1 = ('physics', 'chemistry', 1997, 2000)
tup2 = (1, 2, 3, 4, 5, 6, 7 )
print ("tup1[0]: ", tup1[0])
print ("tup2[1:5]: ", tup2[1:5])
tup1.count('physics')
tup1.index(1997)
tup1+tup2
tup1[-1]
tup1[::-1]

tup1[0]:  physics
tup2[1:5]:  (2, 3, 4, 5)

(2000, 1997, 'chemistry', 'physics')

In [21]:
thisdict = {
  "brand": "Ford",
  "electric": False,
  "year": 1964,
  "colors": ["red", "white", "blue"]
}   
print(len(thisdict))
print(type(thisdict))
print(thisdict.get("year"))
print(thisdict.get("colors"))
print(thisdict.keys())
print(thisdict.values())
print(thisdict.items())
print(thisdict["colors"][0])

4
<class 'dict'>
1964
['red', 'white', 'blue']
dict_keys(['brand', 'electric', 'year', 'colors'])
dict_values(['Ford', False, 1964, ['red', 'white', 'blue']])
dict_items([('brand', 'Ford'), ('electric', False), ('year', 1964), ('colors', ['red', 'white', 'blue'])])
red

In [6]:
dict = dict(name = "John", age = 36, country = "Norway")
print(dict)

{'name': 'John', 'age': 36, 'country': 'Norway'}